html {
  height: 100%;
}
body {
  font-family: sans-serif;
  margin: 0;
  min-height: 100%;
  display: flex;
  flex-direction: column;

  header img {
    width: 5rem;
    padding-left: 5px;
  }

  #job-title {
    padding-left: 1rem;
    text-align: start;
  }
}

#content {
  backdrop-filter: blur(50%);
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: linear-gradient(45deg, #334455, rgb(17, 55, 138), #08a375);
  background-size: 300% 300%;
  animation: color 32s ease-in-out infinite;
  color: #fff;
}

td {
  padding: 4px;
}
th {
  padding: 5px;
}

#top-menu-bar {
  backdrop-filter: blur(50%);
  text-align: center;
  background: linear-gradient(45deg, #334455, rgb(17, 55, 138), #08a375);
  background-size: 300% 300%;
  animation: color 18s ease-in-out infinite;
  color: #fff;
  margin: 0;
  padding: 2px;
}

@keyframes color {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 50% 0%;
  }
}

#top-menu-bar li {
  display: inline-block;
  padding: 0;
  margin: 0;
}
#top-menu-bar a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  padding: 5px 10px;
  border-radius: 4px;
  transition: 0.5s;
}
#top-menu-bar a:visited {
  color: #fff;
}
#top-menu-bar a.active,
#top-menu-bar a:hover {
  color: #334455;
  background: #fff;
}

.favorite {
  font-weight: bold;
  color: blue;
}

td.favorite {
  font-weight: normal;
}

#contact li {
  list-style: none;
}

#contact img {
  width: 30px;
}
