@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

body {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  margin: 0;
  gap: 0;
  overflow-x: hidden;
  background-color: #edeade;
}

header {
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 0;
  text-shadow: -1px -1px 2px black;
  color: #000;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 50%);
  z-index: 10;
}

.name {
  font-family: "Poppins";
  font-weight: 700;
  color: #00674f;
  font-size: 40px;
}

h1 {
  font-size: 25px;
}

svg {
  width: 30px;
  height: auto;
  fill: #00674f;
  padding-right: 150px;
}

header > div {
  margin-left: 5%;
  animation: title 1.5s ease-in-out 1 forwards;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 20px;
}

.border {
  width: 90%;
  margin-right: 5%;
  height: 1px;
  background-color: #b3b3b0;
  align-self: flex-end;
}

main {
  height: auto;
  width: 100vw;
  align-items: center;
  justify-content: center;
  display: grid;
}

.content1,
.content2,
.content3 {
  width: 75vw;
  height: 25vw;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
  margin-top: 5%;
  font-family: "Poppins";
}

.all {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 50px;
}

.middlebar {
  height: 100%;
  width: 1px;
  background-color: #b3b3b0;
}

ul {
  margin: 20px;
  font-size: 16px;
}

.skills,
.web,
.ux,
.communication,
.problem {
  background-color: white;
  border-radius: 16px;
  box-shadow: 0px 0px 20px black;
  width: 100%;
  height: auto;
  display: grid;
  margin: 20px;
}

#scroll-skill,
#scroll-web,
#scroll-ux,
#scroll-problem,
#scroll-communication {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.8s ease, transform 1s ease;
}

#smallerfont {
  font-size: 12px;
}

.title {
  margin-top: 35px;
  font-size: 25px;
  margin-bottom: 30px;
  font-weight: 700;
  display: flex;
  justify-content: center;
}

.skillset {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  margin-bottom: 25px;
  font-weight: normal;
}

.margin {
  margin: 25px;
}

.semi-donut {
  --percentage: 0;
  --fill: rgb(255, 0, 0);
  width: 150px;
  height: 75px;
  position: relative;
  color: #000;
  font-size: 15px;
  font-weight: 600;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  box-sizing: border-box;
}

.semi-donut:after {
  content: "";
  width: 150px;
  height: 150px;
  border: 15px solid;
  border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) var(--fill) var(--fill);
  position: absolute;
  border-radius: 50%;
  left: 0;
  top: 0;
  box-sizing: border-box;
  transform: rotate(-45deg);
}

.animate-semi-donut:after {
  animation: fillAnimation 1.5s ease-in-out forwards;
}

@keyframes fillAnimation {
  0% {
    transform: rotate(-45deg);
  }
  100% {
    transform: rotate(calc(1deg * (-45 + var(--percentage) * 1.8)));
  }
}

footer {
  border: 1px solid black;
  height: 75px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Alfa Slab One";
  grid-column: 1 / span 2;
  border: 1px solid #b3b3b0;
  background: rgba(0, 0, 0, 0);
  gap: 10px;
}

.whatsapp-link,
.email-link {
  display: inline-block;
  font-size: 24px;
  margin: 0 5px;
  color: #000;
  text-decoration: none;
  animation: title 1.5s ease-in-out 1 forwards;
}

.whatsapp-link:hover,
.email-link:hover {
  color: #00674f;
}

@media (max-width: 768px) {
  body {
    display: flex;
    width: 100%;
    overflow-x: hidden;
  }

  header {
    flex-direction: row;
    width: 100%;
    height: auto;
    padding: 15px 0px;
    gap: 0px;
  }

  .name {
    font-size: 20px;
  }

  svg {
    padding-right: 0;
    margin: 10px 0;
  }

  main {
    align-items: center;
    justify-content: center;
  }

  h1 {
    font-size: 20px;
  }

  .content1,
  .content2,
  .content3 {
    width: 90vw;
    height: auto;
    flex-direction: column;
  }

  .all {
    flex-direction: column;
    margin: 20px;
  }

  .skills,
  .web,
  .ux,
  .communication,
  .problem {
    width: 90%;
    margin: 10px auto;
  }

  .title {
    font-size: 20px;
  }

  .skillset {
    display: flex;
    flex-direction: column;
  }

  #smallerfont {
    font-size: 2px;
  }

  footer {
    flex-direction: row;
    padding: 10px;
  }

  .whatsapp-link,
  .email-link {
    font-size: 20px;
  }
}

@media (max-width: 480px) {
  .name {
    font-size: 24px;
  }

  h1 {
    font-size: 18px;
  }

  svg {
    width: 20px;
    height: auto;
    padding-right: 3px;
  }

  .semi-donut {
    width: 120px;
    height: 60px;
    font-size: 12px;
  }

  .semi-donut:after {
    width: 120px;
    height: 120px;
  }

  #smallerfont {
    font-size: 9px;
  }

  .content3 {
    margin-bottom: 60px;
  }
}
