body {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f9;
  color: #ffffff;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  color: black;
  text-align: left;
  margin-right: 2rem;
}

h1 {
  font-size: 3.5rem;
  margin-bottom: 7rem;
  margin-right: 5 rem;
}

.menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menu li {
  font-size: 1.2rem;
  margin: 0.5rem 0;
}

.image img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
  border: 5px solid #333;
}
