body {
  background-image: url("C:/Users/Hp/hodisanmihai.github-io/hodisanmihai.github.io-1/ecomerce/pictures/background.jpg");
  background-size: auto;
  background-position: center;
}

header {
  opacity: 90%;
  border-radius: 45px;
  background-color: black;
  justify-content: space-between;
  display: flex;
}

header #nav img {
  padding-left: 25px;
  padding-top: 30px;
  width: 30px;
}

header #logo img {
  padding-top: 10px;
  width: 300px;
}

header #cart img {
  width: 50px;
  padding-top: 25px;
  padding-right: 25px;
}
