body {
  background-color: black;
}

header {
  justify-content: space-between;
  display: flex;
}

header #nav img {
  padding: 25px;
  width: 30px;
}

header #logo img {
  padding-top: 25px;
  width: 300px;
}

header #cart img {
  width: 50px;
  padding: 25px;
}

main {
  background-image: url("C:\Users\Hp\hodisanmihai.github-io\hodisanmihai.github.io-1\ecomerce\pictures\background.jpg");
  background-size: cover;
  background-position: center;
}
